#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 3em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}
.styled-table thead tr {
  background-color: #009879;
  color: #363535;
  text-align: center;
}
.styled-table thead tr th {
  padding: 10px 30px;
}
.styled-table tbody tr:nth-of-type(even) {
  background-color: #232222;
}
.status-ok {
  color: green;
}
.status-ko {
  color: red;
}
